@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url(navbar.css);
@import url(footer.css);

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Cinzel', serif;
}

p {
    font-size: 15px;
    color: #7a7a7a;
    line-height: 28px;
}
.page-banner {
    background-image: url("../image/page-banner-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 90px 0;
    text-align: center;
}
@media (min-width: 768px) {
    .page-banner{
        padding: 180px 0;
    }
}
.page-banner h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Cinzel Decorative', serif;
}
.page-banner h2 em {
    color: #73E2A7;
    font-style: normal;
}
@media (min-width: 768px) {
    .page-banner h2{
        font-size: 50px;
    }
}
.page-banner p {
    color: #ffffff;
}


.contact-page-map {
    margin-top: 0px;
    padding-top: 60px;
}
@media (min-width:576px) {
    .contact-page-map {
        margin-top: 60px;
        padding-top: 60px;
    }   
}
.contact-page-map .map iframe {
    border-radius: 7.5px;
}



.contact-us-page {
    margin-top: 0px;
    padding-top: 60px;
    position: relative;
}
@media (min-width:576px) {
    .contact-us-page {
        margin-top: 60px;
        padding-top: 60px;
    }   
}
.contact-us-page .contact-page-form {
    padding: 30px;
    background-color: #1B512D;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    border-radius: 7.5px;
}
@media (min-width:992px) {
    .contact-us-page .contact-page-form {
        padding: 60px;
    }
}
.contact-us-page .contact-page-form form {
    margin-right: 0px;
    margin-bottom: 0px;
}
@media (min-width:992px) {
    .contact-us-page .contact-page-form form {
        margin-right: 45px;
    }
}
.section-heading {
    margin-bottom: 30px;
}
.section-heading h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #DEF4C6;
    letter-spacing: -0.5px;
    text-transform:capitalize;
}
@media (min-width: 576px) {
    .section-heading h2{
        font-size: 34px;
        line-height: 48px;
        text-transform: uppercase;
    }
}
.section-heading h2 em {
    color: #73E2A7;
    font-style: normal;
    padding-left: 100px;
    position: relative;
}
.section-heading h2 em::before {
    content: '';
    width: 80px;
    height: 2px;
    background-color: #73E2A7;
    position: absolute;
    top: 15px;
    left: 0;

}
@media (min-width: 576px) {
    .section-heading h2 em::before {
        top: 25px;
        left: 0;
    }
}
.contact-us-page .contact-page-form form input {
    margin-bottom: 15px;
}
.contact-us-page .contact-page-form form textarea {
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    margin-bottom: 15px;
}
button.main-button {
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 11px 25px;
    border-radius: 7.5px;
    display: inline-block;
    outline: none;
    border: none;
    transition: all .5s;
    border-color: #1B512D;
    background-color: #DEF4C6;
    color: #1B512D;
}
button.main-button:hover {
  background-color: #73E2A7;
  color: #1B512D;
  border-color: #73E2A7;
} 
.contact-us-page .right-info ul {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #1B512D;
}
@media (min-width:992px) { 
    .contact-us-page .right-info ul {
        margin-top: 0px;
        padding-top: 0px;
        border-top: none;
    }
}
.contact-us-page .right-info ul li {
    background-color: #DEF4C6;
    text-align: center;
    border-radius: 7.5px;
    display: block;
    padding: 30px;
    margin-bottom: 30px;
}
.contact-us-page .right-info ul li:last-child {
    margin-bottom: 0px;
}
.contact-us-page .right-info ul li .icon span {
    color: #1B512D;
    font-size: 34px;
}
.contact-us-page .right-info ul li h6 {
    color: #1B512D;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 15px;

}
.contact-us-page .right-info ul li h6~span {
    font-size: 15px;
    color: #1B512D;
    text-transform: capitalize;
}




.call-to-action {
    margin-top: 120px;
    padding: 45px 0px;
    background-color: #1B512D;
}
.call-to-action h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #73E2A7;
    margin: 0 0 20px 0;
    text-align: center;
    letter-spacing: .5px;
    font-family: 'Cinzel Decorative', serif;
}
@media (min-width:992px) {
    .call-to-action h2 {
        font-size: 35px;
        margin: 0;
        text-align: left;
    }
}
.call-to-action .white-button {
    text-align: center;
}
@media (min-width:992px) {
    .call-to-action .white-button {
        text-align: right;
    }   
}
.call-to-action .white-button a{
    text-decoration: none;
    padding: 11px 25px;
    font-weight: 400;
    border-radius: 7.5px;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    transition: all .5s;
    border-color: #1B512D;
    background-color: #DEF4C6;
    color: #1B512D;
}
.call-to-action .white-button a:hover {
  background-color: #73E2A7;
  color: #1B512D;
  border-color: #73E2A7;
}



